.logo img {
    height: 2.2em;
}

.navbar {
    padding: 1em 4em 1em 4em;

}

.nav-item {
    padding-right: 5em;
    color: #3C6273;
    font-weight: 500;
}

.navbar-nav .nav-link.active {
    color: #4F7485 !important;
}

.nav-item .nav-link {
    color: #7F9CA8 !important;
}

.nav-item .nav-link:hover {
    color: #4F7485 !important;
}

.quote {
    display: flex;
    align-items: center;
    color: #3C6273;
    font-weight: 500;
}

.nav-link.quote:hover {
    display: flex;
    align-items: center;
    color: #2594c7;
    font-weight: 500;
}

.quote span {
    text-decoration: underline #3C6273;
    text-underline-offset: .3em;
    color: #3C6273;
}

.quote i {
    font-size: 12px;
    margin-top: 5px;
    margin-left: 7px;
}

/* navbar style end */

.homeBanner {
    height: 45em;
    width: 100% 100%;
    background-image: url(../images/homeBanner.png);
    background-repeat: no-repeat;
    border-radius: 1.5em;
    margin: 0em 4em 0em 4em;
    background-position: center;
    background-size: cover;
    position: relative;
}


.homeBanner-text {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.homeBanner-text .slug {
    color: #7F9CA8;
    font-size: 1em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeBanner-text h1 {

    font-size: 3.5em;
    color: #234656;

}

.homeBanner-text h1 span {

    color: #1FA888;
}


.homeBanner-text p {
    color: #7F9CA8;
    font-size: 1.5em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeBanner-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: #fff;
    background-color: #0A384C;
    text-align: center;
    cursor: pointer;
    border-radius: .7em;
}

.homeBanner-text button:hover {
    background-color: #1FA888;
    color: white;
}


.getQuote {
    margin-top: -5em;
    position: relative;

}

.getQuote button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: #fff;
    background-color: #1FA888;

    text-align: center;
    cursor: pointer;
    border-radius: .7em;
}

.getQuote button:hover {
    background-color: #0A384C;
    color: white;
}

@media (max-width: 970px) {
    .navbar {
        padding: 1em 0em 1em 0em;
    }

    .homeBanner {
       
        width: 100% 100%;
        background-image: url(../images/homeBanner.png);
        background-repeat: no-repeat;
        border-radius: 1.5em;
        margin: 0em 0em 0em 0em;
        background-position: center;
        background-size: cover;
        position: relative;
    }
}



@media (max-width: 1328px) {
    .homeBanner-text {
        text-align: center;
        position: absolute;
        width: 100%;
        transform: translate(-50%, -50%);
        color: white;
    }

    .homeBanner-text h1 {
        font-size: 2.5em;
        color: #234656;
    }
}